<div class="p-4 max-w-5xl mx-auto" *transloco="let t">
  <h1 class="text-2xl font-bold mb-6">{{ t('menu.settings') }}</h1>

  <p-tabs [value]="activeTab">
    <p-tablist>
      <p-tab value="0">{{ t('settings.branding_tab') }}</p-tab>
      <p-tab value="1">{{ t('appointment_types.title') }}</p-tab>
    </p-tablist>
    <p-tabpanels>
      <p-tabpanel value="0">
        <app-branding-settings />
      </p-tabpanel>
      <p-tabpanel value="1">
        <app-appointment-types-settings />
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</div>
